{
  "extends": ["stylelint-config-standard"],
  "customSyntax": "postcss-styled-syntax",
  "reportNeedlessDisables": true,
  "reportInvalidScopeDisables": true,
  "rules": {
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": ["overflow", "place-content", "gap"]
      }
    ],
    "nesting-selector-no-missing-scoping-root": [null]
  }
}
