{
  "processors": ["stylelint-processor-styled-components"],
  "extends": ["stylelint-config-standard-scss", "stylelint-config-styled-components"],
  "reportNeedlessDisables": true,
  "reportInvalidScopeDisables": true,
  "rules": {
    "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }]
  }
}
