{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "transform": {
      "react": {
        "runtime": "classic"
      }
    },
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-styled-components",
          {
            "displayName": true
          }
        ]
      ]
    }
  }
}
