.announcement {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #eee;
}

.announcement-origin {
  text-align: right;
}

.announcement-timestamp {
  text-align: right;
}

.announcement-form {
  background-color: #f0f0f0;
  padding: 16px;

  h3 {
    margin-top: 0px;
  }

  textarea {
    width: 100%;
  }

  .button-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
