@use "sass:color";

// Standard font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Answer monospace font
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap");

@import "_theme";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Give outline buttons distinct hover and active styles
$btn-outline-hover-tint: 80%;
@each $color, $value in $theme-colors {
  .btn-outline-#{$color}:hover {
    background-color: color.mix(white, $value, $btn-outline-hover-tint);
    color: $value;
  }
}
