// Standard font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// Answer monospace font
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.connection-status {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  // This z-index is chosen to be higher than any z-index used by Bootstrap
  // (which are all in the 1000-1100 range)
  z-index: 10000;
}

/* Prevent mobile safari zoom */
input[type="text"], textarea {
  font-size: 16px!important;
}
