.connection-status {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  // This z-index is chosen to be higher than any z-index used by Bootstrap
  // (which are all in the 1000-1100 range)
  z-index: 10000;
}

/* Prevent mobile safari zoom */
input[type="text"], textarea {
  font-size: 16px!important;
}
