.app-content-fullscreen {
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.connection-status-fullscreen {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.app-content-scrollable {
  padding-top: 70px;
}
