$breadcrumb-line-height: 22px;
$breadcrumb-max-lines: 2;
$breadcrumb-indent: 2ch;

.jolly-roger .nav-breadcrumbs {
  display: flex;
  align-items: center;
  height: $breadcrumb-line-height * $breadcrumb-max-lines;
  line-height: $breadcrumb-line-height;
  flex: 1;

  ol {
    display: block;
    background-color: transparent;
    max-height: 100%;
    overflow: hidden;
    text-indent: (0 - $breadcrumb-indent);
    margin: 0 0 0 $breadcrumb-indent;
    padding-top: 0;
    padding-bottom: 0;

    li {
      display: inline;
      text-indent: 0;
    }
  }
}
