$breadcrumb-line-height: 22px;
$breadcrumb-max-lines: 2;
$breadcrumb-indent: 1rem;
$breadcrumb-padding-x: 0.75rem;

.jolly-roger .nav-breadcrumbs {
  display: flex;
  align-items: center;
  height: $breadcrumb-line-height * $breadcrumb-max-lines;
  line-height: $breadcrumb-line-height;
  flex: 1;

  ol {
    display: block;
    background-color: transparent;
    max-height: 100%;
    overflow: hidden;
    text-indent: (0 - $breadcrumb-indent);
    padding: 0 $breadcrumb-padding-x 0 $breadcrumb-padding-x + $breadcrumb-indent;
    margin: 0;

    li {
      display: inline;
      text-indent: 0;
    }
  }
}
