.jolly-roger .nav-breadcrumbs {
  height: 50px; // navbar height
  vertical-align: top; // Fill content from top
  background-color: transparent;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center; // vertically center content...
  flex-wrap: wrap; // ...but allow wrapping if horizontal space is limited

  overflow: hidden;

  margin: 0; // override bootstrap style
  padding: 8px 8px; // override bootstrap style to pack tighter (original was 8px 15px)

  // See below for max-width at different screen sizes.
}

@media (max-width: 767px) {
  .jolly-roger .nav-breadcrumbs {
    // Don't cause the logo or hamburger button to wrap onto a new line.
    // Size allowed is 100% of navbar width, minus 50px for the jolly-roger logo, and
    // 1+10+22+10+1 + 8px = 52px for the toggle button.
    max-width: calc(100% - 102px);
  }
}

@media (min-width: 768px) {
  .jolly-roger .nav-breadcrumbs {
    max-width: calc(100vw - 280px); // Hopefully most people's names fit in 250px
  }
}

.jolly-roger .nav-breadcrumbs li {
  display: inline-block; // Apply ellipsis as needed to make fit on mobile
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jolly-roger button.navbar-toggle {
  margin-right: 8px; // Pack tighter to make more space in navbar.
}
