.celebration-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, .20);
  z-index: 1050;

  .celebration {
    background-color: #f0fff0;
    padding: 24px;
  }

  >button.close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
