.rtc-debug-call-summary-participants {
  list-style-type: none;
  padding-left: 0;
}

.rtc-debug-peer-summary-signals {
  margin-left: 2em;
}

.rtc-debug-peer-summary-signals-table {
  margin-left: 2em;
}
