.jolly-roger {
    /* This value is taken from the Bootstrap documentation to support
    navbar-fixed-top:
    https://getbootstrap.com/docs/3.4/components/#navbar-fixed-top */
    padding-top: 70px;
}

.jolly-roger .navbar-brand {
    padding: 0;
    float: none;
}

.jolly-roger .navbar-brand > img {
    display: inline-block;
}

.chat-section p, .chat-section ul, .chat-section blockquote, .chat-section pre {
    margin-bottom: 0;
}

.chat-section blockquote {
    font-size: 14px;
    margin-left: 10px;
    border-left-color: #aaa;
}
