.navbar-brand {
    padding: 0;
}

.chat-section p, .chat-section ul, .chat-section blockquote {
    margin-bottom: 0;
}

.chat-section blockquote {
    font-size: 14px;
    margin-left: 10px;
    border-left-color: #aaa;
}
