.jolly-roger {
    /* This value is taken from the Bootstrap documentation to support
    navbar-fixed-top:
    https://getbootstrap.com/docs/3.4/components/#navbar-fixed-top */
    padding-top: 70px;
}

.jolly-roger .navbar {
    padding: 0;
}

.jolly-roger .navbar-brand {
    padding: 0;
    margin: 0;
    float: none;
}

.jolly-roger .navbar-brand > img {
    display: inline-block;
}

.jolly-roger {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
}
