// General notification design.
ul.notifications {
  position: fixed;
  width: 350px;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  z-index: 10000;

  >li {
    width: 100%;
    position: relative;
    background-color: #404040;
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .spinner-box {
        border-top-left-radius: 4px;
      }
      .dismiss {
        border-top-right-radius: 4px;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #595959;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      .spinner-box {
        border-bottom-left-radius: 4px;
      }
    }

    .spinner-box {
      background-color: #292929;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 55px;
      flex: 0 0 55px;
      .spinner {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: #61c4b8;
      }
    }

    .content {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      &.dismissable {
        padding-right: 32px;
      }

      ul.actions {
        display: block;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;

        >li {
          margin-left: 0px;
          margin-top: 8px;
          margin-right: 8px;
          margin-bottom: 4px;
          display: inline-block;

          a, button {
            display: inline-block;
            border: none;
            padding: 4px 10px;
            border-radius: 4px;
            background-color: #2e2e2e;
            color: #aaaaaa;
            &:hover {
              color: #f0f0f0;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }

    .dismiss {
      background: none;
      border: none;
      position: absolute;
      width: 28px;
      height: 32px;
      font-size: 20px;
      font-weight: bold;
      right: 0px;
      top: 0px;
      color: #888;
      &:hover {
        color: #f0f0f0;
      }
    }
  }
}

// Specific notification content styles
.notification-guess-input {
  background: transparent;
  outline: none;
  border: 0px;
  padding: 0px;
}
