.puzzle-list-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  ul {
    margin-bottom: 0;
  }
}

.puzzle-view-controller {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .puzzle-list-controls {
    flex-direction: column-reverse;
    align-items: flex-start;

    ul {
      padding-left: 12px;
      margin-bottom: 8px;
    }

    .puzzle-view-controller {
      width: 100%;
    }
  }
}

.puzzle-view-controls {
  display: flex;
  flex-wrap: wrap;

  .btn-toolbar {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .form-group {
    flex: 1 1 auto;
    width: 250px;
  }
}

.puzzle-list-show-solved {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.add-puzzle-content {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.puzzle-list-ungrouped {
  margin-bottom: 16px;
  .puzzles {
    padding-left: 16px;
  }
}
