@media (max-width: 767px) {
  .puzzle-view-controls>* {
    width: 100%;
    margin-right: 0;
  }
}

.puzzle-view-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    margin-bottom:12px;
  }
  .btn-toolbar {
    margin-right: 4px;
  }
  .form-group {
    flex: 1 1 0;
    margin-right: 4px;
  }
}

.puzzle-list-show-solved {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.puzzle-list-ungrouped {
  margin-bottom: 16px;
  .puzzles {
    padding-left: 16px;
  }
}

.puzzle-list-links {
  list-style: none;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0;
  li {
    display: flex;
    align-items: stretch;
    flex: 1 1 0;
    min-width: 120px;
    a {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
      padding: 8px 0;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}

@media (max-width: 389px) {
  .puzzle-list-links li {
    min-width: 100%;
  }
}
