// Puzzle components helper styles
// Puzzle lists/tables
.puzzle-group {
  margin-bottom: 16px;
}

.puzzle-group-header {
  display: block;
}

.puzzle-list-wrapper {
  padding-left: 16px;
}

.puzzle {
  margin-bottom: 4px;
  vertical-align: top;

  &.unsolved {
    background-color: #f0f0f0;
  }

  &.solved {
    background-color: #dfffdf;
  }
}

.puzzle-grid {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;

  .puzzle-title {
    flex: 0 0 25%;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
    word-wrap: break-word;
    font-weight: bold;
  }

  .puzzle-link {
    flex: 0 0 10%;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
  }

  .puzzle-view-count {
    flex: 0 0 5%;
    display: inline-block;
  }

  .puzzle-answer {
    flex: 0 0 20%;
    display: inline-block;
    word-wrap: break-word;
  }
}

.puzzle-inline {
  display: block;
  .puzzle-title {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
    font-weight: bold;
  }

  .puzzle-view-count {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
  }

  .puzzle-answer {
    display: inline-block;
    vertical-align: top;
  }
}

.answer-wrapper {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
  margin: 2px;
}

.answer {
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
}

// Tags
.tag-list {
  display: inline;
}

.tag {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  background-color: #ddd;
  color: #000;
  &.tag-meta {
    background-color: #ffd57f;
  }
  &.tag-group {
    background-color: #7fffff;
  }
  &.tag-meta-for {
    background-color: #ffb0b0;
  }
  &.tag-needs {
    background-color: #ff4040;
  }
  &.tag-priority {
    background-color: #aaaaff;
  }
}

.tag-link, .tag-link:active, .tag-link:focus, .tag-link:hover {
  color: #000000;
  text-decoration: none;
}

.tag-modify-link-button {
  // Override some bootstrap sizes/paddings to make this button fit in the row better.
  height: 24px;
  padding: 2px;
  display: inline-block;
}

////////////
// Puzzle page styles
.puzzle-page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.puzzle-page.narrow {
  display: flex;
  flex-direction: column;
  > .sidebar {
    position: relative; /*This is a little kludgy, but better than fixing it inline - revisit later*/
  }
}

.puzzle-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Chat
.chat-section {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex: 1 1 auto;
  overflow-y: auto;
}

.chat-message {
  background-color: #f8f8f8;
  margin-bottom: 1px;
  word-wrap: break-word;
}

.chat-timestamp {
  float: right;
  font-style: italic;
  margin-right: 2px;
}

// Puzzle metadata
.puzzle-metadata {
  flex: none;
  padding-bottom: 2px;
  overflow: auto;
  border-bottom: 1px solid #bbbbbb;
}

.puzzle-metadata-row {
  display: block;
  min-height: 26px;
  line-height: 18px;
  vertical-align: middle;
}

.puzzle-metadata-left {
  padding: 4px;
}

.puzzle-metadata-right {
  float: right;
  clear: none;
  margin: 4px;
}

.puzzle-metadata-tags {
  display: inline-block;
  height: 24px;
}

.puzzle-metadata-answer {
  display: inline-block;
  padding: 2px;
  border-radius: 2px;
  background-color: #00ff00;
  color: #000000;
}

.puzzle-metadata-row button {
  height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.puzzle-document {
  width: 100%;
  height: 100%;
  flex: auto;
  position: relative;
}

.puzzle-document-message {
  background-color: #ddddff;
}

.puzzle-document > .google-spreadsheet {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.SplitPane.collapsed1 > .Resizer, .SplitPane.collapsed2 > .Resizer {
  display: none;
}

.SplitPane.collapsing1 > .Pane1:before, .SplitPane.collapsing2 > .Pane2:before {
  content: "";
  display: block;
  height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, .2);
    z-index: 2;
}

.Resizer {
  background: #000;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

/* Throw an overlay over iFrames during drag to capture mouse events */
/* Works in Chrome and Safari but not Firefox for some reason*/
.SplitPanePlus.dragging:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2002;
}
/* Kludge that makes it work in Firefox.
   Amazingly, the above part actually works for iFrames outside of the SplitPane, 
   so we're covered everywhere. */
.SplitPanePlus.dragging > .SplitPane:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Resizer:hover {
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-right: 5px solid rgba(0, 0, 0, 0.1);
}

Resizer.disabled {
  cursor: not-allowed;
}

Resizer.disabled:hover {
  border-color: transparent;
}