/* As recommended by Paul Irish: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
