.setup-page {
  section {
    margin-bottom: 24px;
  }
}

.setup-subsection {
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
.setup-subsection-header {
  font-size: 16px;
  font-weight: bold;
  //background-color: #f0f0f0
}

.setup-section-header {
  background-color: #f0f0f0;
  font-size: 18px;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
}
.setup-section-header-label {
  flex: 1 1 auto;
}
.setup-section-header-buttons {
  flex: 0 0 auto;
  button {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}


.circuit-breaker {
  margin-bottom: 16px;
}
.circuit-breaker-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
  background: #eee;
}
.circuit-breaker-label {
  font-size: 16px;
  flex: 1 1 auto;
}
.circuit-breaker-buttons {
  flex: 0 0 auto;
  button {
    margin-left: 8px;
  }
}

.branding-row {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.branding-row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.branding-row-image {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  // background-size and background-image are defined inline per div
}
