<template name="layouts/main">
  <div class="jr-layouts-main">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="/images/brand.png"/>
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          {{! TODO: Construct some sort of breadcrumbs here? }}
          <ul class="nav navbar-nav">
            <li class={{#if currentRouteIs 'hunts/list'}}active{{/if}}>
              {{#linkTo route='hunts/list'}}
                All hunts
              {{/linkTo}}
            </li>
          </ul>
          {{#if currentUser}}
            <ul class="nav navbar-nav navbar-right">
              {{> atNavButton}}
            </ul>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="container">
      {{#if statusIs "connecting"}}
        <div class="alert alert-warning">
          Reconnecting to Jolly Roger...
        </div>
      {{/if}}
      {{#if statusIs "failed"}}
        <div class="alert alert-danger">
          <strong>Oh no!</strong> Unable to connect to Jolly Roger:
          {{reason}}
        </div>
      {{/if}}
      {{#if statusIs "waiting"}}
        <div class="alert alert-warning">
          Reconnecting to Jolly Roger in
          {{timeToRetry}}s... <a href="#" id="jr-reconnect">retry
          now</a>
        </div>
      {{/if}}
      {{#if statusIs "offline"}}
        <div class="alert alert-warning">
          <strong>Warning!</strong> Currently not connected to Jolly
          Roger server. Changes will be synced when you
          reconnect. <a href="#" id="jr-reconnect">reconnect now</a>
        </div>
      {{/if}}

      {{> yield}}
    </div>
  </div>
</template>
