<template name="hunts/delete">
  <div id="jr-hunt-delete-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {{#linkTo route='hunts/list' data=. class="close"}}&times;{{/linkTo}}
          <h4 class="modal-title">Delete hunt</h4>
        </div>
        <div class="modal-body">
          {{#with formError}}
            <div class="alert alert-danger">
              Problem deleting hunt: {{reason}}
            </div>
          {{/with}}

          {{#with hunt}}
            Are you sure you want to delete "{{name}}"? This will
            additionally delete all puzzles and associated state.
          {{/with}}
        </div>
        <div class="modal-footer">
          {{#linkTo route='hunts/list' data=. class="btn btn-default"}}Close{{/linkTo}}
          <button class="btn btn-danger jr-button-hunt-delete">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>
