<template name="puzzles/delete">
  <div id="jr-puzzle-delete-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {{#linkTo route='puzzles/list' data=. class="close"}}&times;{{/linkTo}}
          <h4 class="modal-title">Delete puzzle</h4>
        </div>
        <div class="modal-body">
          {{#with formError}}
            <div class="alert alert-danger">
              Problem creating a new puzzle: {{reason}}
            </div>
          {{/with}}
          {{#with puzzle}}
            Are you sure you want to delete "{{title}}"? This will
            delete all children and associated state and can not be
            undone.
          {{/with}}
        </div>
        <div class="modal-footer">
          {{#linkTo route='puzzles/list' data=. class="btn btn-default"}}Close{{/linkTo}}
          <button class="btn btn-danger jr-button-puzzle-delete">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>
