<template name="puzzles/new">
  <div id="jr-puzzle-new-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{#autoForm collection="Models.Puzzles" id="jr-puzzle-new-form" type="insert"}}
          <div class="modal-header">
            {{#linkTo route='puzzles/list' data=. class="close"}}&times;{{/linkTo}}
            <h4 class="modal-title">New puzzle</h4>
          </div>
          <div class="modal-body">
            {{#with formError}}
              <div class="alert alert-danger">
                Problem creating a new puzzle: {{reason}}
              </div>
            {{/with}}
            {{> afQuickField name='hunt' type='hidden' value=_id}}
            {{> afQuickField name='title'}}
            {{> afQuickField name='url' type='url'}}
          </div>
          <div class="modal-footer">
            {{#linkTo route='puzzles/list' data=. class="btn btn-default"}}Close{{/linkTo}}
            <button type="submit" class="btn btn-primary">Add puzzle</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
