<template name="partials/puzzle">
  <div class="jr-puzzle" id="jr-puzzle-{{_id}}">
    {{title}}
    {{#if answer}}
      - <strong>{{answer}}</strong>
    {{/if}}
    <div class="btn-group btn-group-xs">
      <a href={{url}} target="_blank" class="btn btn-primary jr-btn-puzzle-open {{disableClass url}}" title="Open puzzle...">
        <span class="glyphicon glyphicon-new-window"></span>
      </a>
      {{#if userHasPermission "mongo.puzzles.insert"}}
        <button type="button" class="btn btn-success jr-btn-puzzle-new" data-parent-type="puzzle" data-parent-id={{_id}} title="Add child puzzle...">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      {{/if}}
      {{#if userHasPermission "mongo.puzzles.update"}}
        <button type="button" class="btn btn-default jr-btn-puzzle-edit" data-id={{_id}} title="Edit puzzle...">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-default jr-btn-puzzle-top" data-id={{_id}} title="Move to top">
          <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" class="btn btn-default jr-btn-puzzle-up" data-id={{_id}} title="Move up one position">
          <span class="glyphicon glyphicon-menu-up"></span>
        </button>
        <button type="button" class="btn btn-default jr-btn-puzzle-down" data-id={{_id}} title="Move down one position">
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <button type="button" class="btn btn-default jr-btn-puzzle-bottom" data-id={{_id}} title="Move to bottom">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
      {{/if}}
      {{#if userHasPermission "mongo.puzzles.remove"}}
        <button type="button" class="btn btn-danger jr-btn-puzzle-remove" data-id={{_id}} title="Delete puzzle...">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      {{/if}}
    </div>

    {{#with getChildren}}
      <ul class="jr-puzzle-children" id="jr-puzzle-children-{{../_id}}">
        {{#each .}}
          <li id="jr-puzzle-li-{{_id}}">{{> Template.dynamic template="partials/puzzle"}}</li>
        {{/each}}
      </ul>
    {{/with}}
  </div>
</template>
