<template name="partials/puzzle">
  <div class="jr-puzzle">
    <div class="panel panel-default">
      <div class="panel-body">
        {{title}}
        <div class="btn-group btn-group-xs" role="group">
          {{#if userHasPermission "mongo.puzzles.insert"}}
            <button type="button" class="btn btn-success jr-btn-puzzle-new" data-parent-type="puzzle" data-parent-id={{_id}}>
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          {{/if}}
          {{#if userHasPermission "mongo.puzzles.update"}}
            <button type="button" class="btn btn-default jr-btn-puzzle-top" data-id={{_id}}>
              <span class="glyphicon glyphicon-triangle-top"></span>
            </button>
            <button type="button" class="btn btn-default jr-btn-puzzle-up" data-id={{_id}}>
              <span class="glyphicon glyphicon-menu-up"></span>
            </button>
            <button type="button" class="btn btn-default jr-btn-puzzle-down" data-id={{_id}}>
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <button type="button" class="btn btn-default jr-btn-puzzle-bottom" data-id={{_id}}>
              <span class="glyphicon glyphicon-triangle-bottom"></span>
            </button>
          {{/if}}
          {{#if userHasPermission "mongo.puzzles.remove"}}
            <button type="button" class="btn btn-danger jr-btn-puzzle-remove" data-id={{_id}}>
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="list-unstyled jr-puzzle-children">
        {{#each getChildren}}
          <li>{{> Template.dynamic template="partials/puzzle"}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
