name: Build and test Docker image

# Run builds on main commits and when PRs are opened or updated
on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - main
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Tests run only on amd64
  test:
    name: Run linters and tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true # make buildx the default
      - name: Build test environment Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          target: test
          load: true
          cache-from: type=gha,scope=linux/amd64
      - name: Enable problem matchers
        run: |
          echo "::add-matcher::${{ github.workspace }}/.github/problem-matchers/tsc.json"
          echo "::add-matcher::${{ github.workspace }}/.github/problem-matchers/eslint.json"
          echo "::add-matcher::${{ github.workspace }}/.github/problem-matchers/stylelint.json"
      - name: Run tests
        run: |
          docker run -e PATH_PREFIX=${{ github.workspace }} -e CI=true --rm ${{ steps.build.outputs.imageid }}

  # While tests are running, we can build single-architecture production images for both platforms
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
            artifact: digests-amd64
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
            artifact: digests-arm64
    # The runs-on declaration also specifies the architecture
    runs-on: ${{ matrix.runner }}
    name: Build production image for ${{ matrix.platform }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true # make buildx the default
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Log in to the Container registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build production Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          outputs: type=image,name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},push=${{ github.ref == 'refs/heads/main' }},push-by-digest=true,name-canonical=true,oci-mediatypes=true
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }} # mode=max means cache intermediate images
          build-args: |
            METEOR_GIT_COMMIT_HASH=${{ github.sha }}
      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          echo "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build.outputs.digest }}" >> ${{ runner.temp }}/digests/digest
      - name: Upload digest
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact }}
          path: ${{ runner.temp }}/digests/digest
          if-no-files-found: error
          retention-days: 1

  merge:
    name: Merge Docker image manifests
    needs:
      - build
      # Don't merge if tests failed
      - test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          pattern: digests-*
          path: ${{ runner.temp }}/digests
      - name: Extract metadata for Docker
        id: meta
        if: github.ref == 'refs/heads/main'
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ github.ref == 'refs/heads/main' }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: index
      - name: Log in to the Container registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create manifest and push
        if: github.ref == 'refs/heads/main'
        shell: python
        run: |
          import glob
          import json
          import os
          import subprocess

          docker_metadata = json.loads(os.environ['DOCKER_METADATA_OUTPUT_JSON'])
          digest_files = glob.glob(os.path.join(os.environ['RUNNER_TEMP'], 'digests', '*', 'digest'))
          digests = []
          for digest_file in digest_files:
              with open(digest_file, 'r') as f:
                  digests.append(f.read().strip())

          args = [
              'docker', 'buildx', 'imagetools', 'create',
          ]
          for tag in docker_metadata['tags']:
              args.append('--tag')
              args.append(tag)
          for annotation in docker_metadata['annotations']:
              args.append('--annotation')
              args.append(annotation)
          args.extend(digests)

          subprocess.check_call(args)
      - name: Inspect image
        if: github.ref == 'refs/heads/main'
        run: |
          docker buildx imagetools inspect '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}'
